src/mypackage/index.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IBMX" type="IBMXType"/>
  <xs:complexType name="FDTListType">
    <xs:sequence>
      <xs:element type="FDTStatusType" name="FDTStatus"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FDTRspType">
    <xs:sequence>
      <xs:element type="RSPType" name="RSP"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="IBMXType">
    <xs:sequence>
      <xs:element type="FDTRspType" name="FDTRsp"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RSPType">
    <xs:sequence>
      <xs:element type="FDTListType" name="FDTList"/>
      <xs:element type="xs:string" name="STAN"/>
      <xs:element type="xs:string" name="BatchReferenceNo"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="FDTStatusType">
    <xs:sequence>
      <xs:element type="xs:string" name="STAN"/>
      <xs:element type="xs:string" name="TxnReference"/>
      <xs:element type="xs:string" name="PostingDate"/>
      <xs:element type="xs:string" name="HostStatusCode"/>
      <xs:element type="xs:string" name="HostStatusDesc"/>
      <xs:element type="xs:string" name="StatusCode"/>
      <xs:element type="xs:string" name="StatusDesc"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>